<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  
  <fieldset >    
    <legend>Category Form</legend>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :group %>
      <%= f.association :folder, collection: current_user.organization.folders.all %>

      <% color = ["ffffff","ffccc9","ffce93","fffc9e","ffffc7","9aff99","96fffb","cdffff","cbcefb","cfcfcf","fd6864","fe996b","fffe65","fcff2f","67fd9a","38fff8","68fdff","9698ed","c0c0c0","fe0000","f8a102",
      "ffcc67","f8ff00","34ff34","68cbd0","34cdf9","6665cd","9b9b9b","cb0000","f56b00","ffcb2f","ffc702","32cb00","00d2cb","3166ff","6434fc","656565","9a0000","ce6301","cd9934","999903","009901",
      "329a9d","3531ff","6200c9","343434","680100","963400","986536","646809","036400","34696d","00009b","303498","000000","330001","643403","663234","343300","013300","003532","010066" ] %>
      <div id="jquery-color-picker">
        <%= f.input :color, collection: color, input_class: 'span1' %>
      </div>
      
      <%= f.input :use_privacy %>
      <% users = @category.users.each{|user| user.name = "#{user.name} (#{user.email})"} %>
      <%= f.input :user_tokens, label: "Users", input_html: {"data-pre" => users.to_json(only: [:id, :name])} %>
    </div>    
  </fieldset>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  jQuery('#jquery-color-picker select').colourPicker({
      ico: '/assets/lib/colorPicker/jquery.colourPicker.gif', 
      title: false,
      input_class: 'span1'
  });
</script>